@charset "UTF-8";
body {
    background: #fff;
    font-family: "PremierSans-Regular",Arial,"Helvetica Neue",Helvetica,sans-serif;
    color: #242424;
    -webkit-text-size-adjust: 100%;
    font-size: 1.4rem;
    overflow-x: hidden;
    min-width: 20em;
}
html {
    font-size: 62.5%;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    }
.tooltip .tooltip-text {
    visibility: hidden;
    width: 250px;
    background-color:rgb(255, 250, 221);
    color:black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
        /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
    
.tooltip:hover .tooltip-text {
    visibility: visible;
    
}
 .firstc{
    width:34%;
    
}
.list {
    font-family:"PremierSans-Bold",Arial,"Helvetica Neue",Helvetica,sans-serif;
}
.firstr{
    background-color:#EAFF04;    
}
.secondr{
    background-color:#00FF87;
}.thirdr{
    background-color: #04F5FF;
}
.fourthr{
    background-color:#E90052;
}
table{
    text-align:left;
    border-collapse:collapse;
    white-space:nowrap;
    table-layout:fixed;
}
table th
{
    border-bottom:1px solid #E8E8E8;
    color:#666;
    font-size:1.2rem;
}
table .divide>th
{
    padding-top:.4rem;
    padding-bottom:.4rem;
    color:#242424;
}
table .divide>th:first-child
{
    text-align:left;
}
table td{
    font-size:1.2rem;
}
table .el-placeholder{
    padding-top:1.4rem;
    padding-bottom:1.4rem;
}
table .table-squad-status{
    width:10%;
    
}
.price{
    width: 13%;

}
.tsb{
    width: 14%;
}
.tot{
    width: 10%;
}
.fixture{
    width: 50%;
}
.list{
    width: 100%;
}
table td,table th{
    border: 1px solid #ddd;
    padding: 8px;
}