body {
  background-color: #222d3b;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 100px;
  text-align: center;
}
.transition {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#switch {
  font-size: 0;
  background-color: #2a3a47;
  display: inline-block;
  color: #82909b;
  padding: 4px;
  vertical-align: middle;
}
#switch .choice {
  font-size: 16px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 8px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  vertical-align: middle;
}
#switch .choice.on {
  color: #fff;
  background-color: #222d3b;
}
#switch .or {
  font-size: 10px;
  color: #fff;
  position: absolute;
  margin-top: 19px;
  margin-left: 108px;
  z-index: 1;
}
#switch .diamond {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 19px;
  margin-left: 116px;
  background: #2a3a47;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
